<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TeamBuildingJoinMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_TEAMBUILDINGJOIN
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		BUILDING_ID,	
		USER_ID,	
		JOINDATE,	
		TEAMBUILDINGJOIN_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{BUILDING_ID},	
		#{USER_ID},	
		#{JOINDATE},	
		#{TEAMBUILDINGJOIN_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			TEAMBUILDINGJOIN_ID = #{TEAMBUILDINGJOIN_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			BUILDING_ID = #{BUILDING_ID},
			USER_ID = #{USER_ID},
			JOINDATE = #{JOINDATE},
		TEAMBUILDINGJOIN_ID = TEAMBUILDINGJOIN_ID
		where 
		TEAMBUILDINGJOIN_ID = #{TEAMBUILDINGJOIN_ID}
	</update>
	
	<!-- 通过BUILDING_ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 and
			BUILDING_ID = #{TEAMBUILDING_ID}
	</select>
	
	<!-- 通过TEAMBUILDINGJOIN_ID获取数据 -->
	<select id="findById2" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 and
			TEAMBUILDINGJOIN_ID = #{TEAMBUILDINGJOIN_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select b.BULIDING_NAME,c.USERNAME,a.JOINDATE,b.TEAMBUILDING_ID,d.SCORE,a.TEAMBUILDINGJOIN_ID
        from TB_TEAMBUILDINGJOIN a join TB_TEAMBUILDING b on a.BUILDING_ID = b.TEAMBUILDING_ID
                           join SYS_USER c on a.USER_ID = c.USER_ID
                           left outer join TB_TEAMBUILDINGSCORE d on a.TEAMBUILDINGJOIN_ID = d.BUILDINGJOIN_ID
                           where 1 = 1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and b.BULIDING_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		</if>
	</select>
	
		<!-- 列表三级 -->
	<select id="datalistPage3" parameterType="page" resultType="pd">
		select b.BULIDING_NAME,c.USERNAME,a.JOINDATE,b.TEAMBUILDING_ID,d.SCORE,a.TEAMBUILDINGJOIN_ID
        from TB_TEAMBUILDINGJOIN a join TB_TEAMBUILDING b on a.BUILDING_ID = b.TEAMBUILDING_ID
                           join SYS_USER c on a.USER_ID = c.USER_ID
                           left outer join TB_TEAMBUILDINGSCORE d on a.TEAMBUILDINGJOIN_ID = d.BUILDINGJOIN_ID
                           where a.USER_ID=#{joinId}
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and b.BULIDING_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			TEAMBUILDINGJOIN_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>