<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SCOREMapper">
	
	<!--表名 -->
	<sql id="tableName">
		SYS_SCORE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		SCORE_NAME,	
		SCORE_VALUE,	
		ACTUAL_VALUE,	
		SCORE_TIMES,	
		PROJECT_ID,	
		PROJECT_NAME,	
		PROJECT_AMOUNT,	
		SCORE_PROPORTION,	
		REMARK,	
		START_DATE,	
		END_DATE,	
		IN_ID,	
		IN_DATE,	
		UPDATE_ID,	
		UPDATE_DATE,	
		SCORE_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{SCORE_NAME},	
		#{SCORE_VALUE},	
		#{ACTUAL_VALUE},	
		#{SCORE_TIMES},	
		#{PROJECT_ID},	
		#{PROJECT_NAME},	
		#{PROJECT_AMOUNT},	
		#{SCORE_PROPORTION},	
		#{REMARK},	
		#{START_DATE},	
		#{END_DATE},	
		#{IN_ID},	
		#{IN_DATE},	
		#{UPDATE_ID},	
		#{UPDATE_DATE},	
		#{SCORE_ID}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			SCORE_ID = #{SCORE_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			SCORE_NAME = #{SCORE_NAME},
			<!-- SCORE_VALUE = #{SCORE_VALUE}, -->
			SCORE_TIMES = #{SCORE_TIMES},
			PROJECT_ID = #{PROJECT_ID},
			PROJECT_NAME = #{PROJECT_NAME},
			ACTUAL_VALUE=#{ACTUAL_VALUE},
			PROJECT_AMOUNT = #{PROJECT_AMOUNT},
			SCORE_PROPORTION = #{SCORE_PROPORTION},
			START_DATE = #{START_DATE},
			UPDATE_ID=#{UPDATE_ID},
			UPDATE_DATE=#{UPDATE_DATE},
			END_DATE = #{END_DATE},
		SCORE_ID = SCORE_ID
		where 
		SCORE_ID = #{SCORE_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			SCORE_ID = #{SCORE_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and SCORE_NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		</if>
		<if test="pd.startdate!= null and pd.startdate != ''"><!-- 关键词检索 -->
			and START_DATE LIKE #{pd.startdate}
		</if>
		<if test="pd.enddate!= null and pd.enddate != ''"><!-- 关键词检索 -->
			and END_DATE LIKE #{pd.enddate}
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			SCORE_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<select id="findIdName" parameterType="pd" resultType="pd">
		select 
			SCORE_ID,
			SCORE_NAME,
			END_DATE
		from
		<include refid="tableName"></include>
		where 1=1
		<if test="now!= null and now != ''"><!-- 关键词检索 -->
		and END_DATE &gt;= #{now}
		</if>
	</select>
</mapper>